<li class="post-stub" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">
    <a href="{{ .Permalink }}" itemprop="url" title="Go to post detail">
        <h4 class="post-stub-title" itemprop="name">{{ .Title }}</h4>
        <time class="post-stub-date" datetime="{{ .Date.Format "2006-01-02" }}">
            <span class="year">{{ .Date.Year }}</span><br/>
            <span class="month">{{ .Date.Format "Jan 2" | upper }}</span>
            </time>
    </a>
    <ul class="tags">
    {{ range .Params.tags }}
        <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
    {{ end }}
    </ul>
</li>