/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: $primary-color;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: $primary-font;
}

html {
    font-size: $default-font-size;
}

body {
    line-height: $default-line-height;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: $selection-background;
    text-shadow: none;
}

::selection {
    background: $selection-background;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dotted $border-color;
    clear:both;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Links and titles
   ========================================================================== */

a{
    text-decoration:none;
    color:$link-color;
}

a:hover {
    text-decoration: underline;
    color:$link-hover-color;
}

h2,h3,h4,h5,h6  {
    color: $primary-color;
}
h2 {
    font-size: $h2-font-size;
}
h3 {
    font-size: $h3-font-size;
}