/* HEADER ELEMENTS
-------------------------------------------------------------------------*/
#wrapper.scrolled {
   header {
       background-color: rgba(255,255,255,0.9);    /* 90% opaque white */
       box-shadow: 0 0.05rem 1rem rgba(0, 0, 0, 0.15);
       
       #site-logo {
           top: 0.5rem;
           img {
               max-height:3rem;
               max-width: 3rem;
           }
       }
   } 
}

header {
    line-height: 1.2;
    box-shadow: none;
    #site-logo {
        position: absolute;
        right: 0;
        top: -1rem;
        padding-right: $padding-sides;
        z-index:-10;
        img {
            max-height:6rem;
            border-radius: 50%;
            max-width:6rem;
            margin:0;
        }
    }

    #site-title {
        a {
            color: $primary-color;
            text-decoration: none;
            letter-spacing:-1px;     
                      
        }
        h1 {
            font-family: $secondary-font;
            font-size: 2rem;
            font-weight: 900;
            margin:0;
        }
        span {
            font-size: $default-font-size;
            font-family: $primary-font;
            letter-spacing: normal;
            color:#666;
            display:block;
            font-weight:normal;
        }
    }
    #site-nav {
        list-style: none;
        margin: 0;
        padding-left:0;
        li {
            float: left;
            margin: 0 1rem 0 0;
            padding: 0.1rem 0; 
            //border-bottom: solid 1px $border-color;
            a {
                color: #888888;
                font-size: 1rem;
            }
        }
    }

    @extend %clearfix;
}