html {
    min-height: 100%;
    position: relative;
}

@media screen and (min-width: $max-site-width) {
  #wrapper {
    header {
      height: $header-height + 2rem;
      #site-title {
          margin-top: 4rem;
      }
    }
    #container {
      margin-top: $header-height + 2rem;
    }
  }
}

#wrapper {
    &.scrolled {
        header {
            position: fixed;
            height: $header-fixed-height;
            #site-title {
                margin-top: 0;
            }
        }
    }
}

    header {
      z-index:10;
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      height: $header-height;

      #header-wrapper {
          position: relative;
          max-width: $max-site-width;
          margin: 0 auto;
          padding: 0 $padding-sides;
      }

      #site-title {
        margin-top: 2rem;
      }
    }

    #container {
      position: relative;
      max-width: $max-site-width;
      padding: 1rem $padding-sides;
      margin: $header-height auto $footer-height auto;
    }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $footer-height;

  #footer-wrapper {
    position: relative;
    max-width: $max-site-width;
    padding: 0 $padding-sides;
    margin: 0 auto;
  }
}

/* Clearfix placeholder
 * Usage: @extend %clearfix;
 * ---------------------------- */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}