$primary-font:    "Open Sans", sans-serif;
$secondary-font:    "Raleway", serif;

$primary-color: #222;
$link-color: #0098CB;
$link-hover-color: #23C2F8;

$default-font-size: 14px;
$default-line-height: 1.6;

$h1-font-size: 2.2rem;
$h2-font-size: 2.2rem;
$h3-font-size: 1.5rem;

$background-color: #fff;
$footer-color: #fff;
$border-color: #ccc;
$selection-background: #b3d4fc;

$max-site-width: 50rem;
$padding-sides: 1rem;
$header-height: 8rem;
$header-fixed-height: 4rem;
$footer-height: 3rem;