$primary-font:    "Roboto", Verdana, Geneva, sans-serif;
$secondary-font:    "Raleway", Arial, Helvetica, sans-serif;
$code-font: Menlo,Monaco,Consolas,"Courier New",monospace;

$primary-color: #000;
$link-color: #57A3E8;
$link-hover-color: #000;
$note-color: #ddd;
$note-highlight-color: #ccc;

$tube-border-color: #000;
$tube-neutral-color: #959ca1;
$tube-primary-color: #1c3f95;
$tube-secondary-color: #ee2e24;
$tube-tertiary-color: #009ddc;
$tube-width: .5rem;

$default-font-size: 16px;
$default-line-height: 1.5;

$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$h4-font-size: 1.125rem;

$background-color: #fff;
$footer-color: #fff;
$border-color: #ccc;
$selection-background: #b3d4fc;

$max-site-width: 50rem;
$padding-sides: 1rem;
$header-height: 3.5rem;
//$header-fixed-height: 3.5rem;
$footer-height: 3rem;